<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <style>
    .unchanged {
      display: none !important;
    }
    .commit:hover {
      color: red;
    }
    .heroku {
      background-color: #7952b3;
    }

    .btn-heroku {
      color: #fff;
      background-color: #7952b3;
      border-color: #7952b3;
    }

    .btn-heroku:hover {
      color: #fff;
      background-color: #614092;
      border-color: #6d48a4;
    }
    .btn-outline-heroku {
      color: #7952b3;
      border-color: #7952b3;
      background-color: #fff;
    }
    .border-heroku {
      border-color: #7952b3 !important;
    }
  </style>
  <title>Git Client</title>
</head>
<body>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <% if @notice.present? %>
          <div class="alert alert-success alert-dismissable" role="alert">
            <%= @notice %>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% elsif @alert.present? %>

          <div class="alert alert-warning alert-dismissable" role="alert">
            <%= @alert %>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      </div>
    </div>
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link active" id="git-tab" href="#git">Git</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="heroku-tab" href="#heroku">Heroku</a>
      </li>
    </ul>

    <div class="tab-content pt-2">
      <div class="tab-pane active" id="git" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row mb-4">
          <div class="col">
            <div class="card">
              <h1 class="card-header">
                <% if !@diff.nil? %>
                  On branch <code><%= @current_branch %></code>
                <% else %>
                  <code>git status</code>
                <% end %>
              </h1>

              <div class="card-body">
                <%# if false %>
                <% unless @status.include?("nothing to commit, working tree clean") %>
                  <p class="h4 mb-3 text-center">
                    You have changes
                  </p>
                  <% @statuses.each do |status| %>
                    <% filelist = status[:file_list].join("\n") %>
                    <% if filelist.length > 0 %>
                      <%= status[:name] %>
                      <pre><%= filelist.strip %></pre>
                    <% end %>
                  <% end %>

                  <% if !@diff.nil? %>
                    <%= @diff %>
                  <% end %>

                  <p class="h4 my-3 text-center">
                    What do you want to do?
                  </p>

                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-header h6">
                          Commit your changes to the current branch
                        </div>

                        <div class="card-body">
                          <form action="/git/commit" method="post">
                            <div class="form-group">
                              <label for="title">Title</label>
                              <input class="form-control" type="text" name="title" placeholder="Enter a title for your commit (required)..." required>
                            </div>

                            <div class="form-group">
                              <label for="description">Description</label>
                              <textarea class="form-control" name="description" placeholder="Enter a longer description of your changes (optional)..."></textarea>
                            </div>

                            <button class="btn btn-primary btn-block">
                              Commit to <%= @current_branch %>
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="row mb-2">
                        <div class="col">
                          <div class="card">
                            <div class="card-header h6">
                              Switch to a new branch
                            </div>

                            <div class="card-body">
                              <form action="/git/branch/checkout" class="full-width mb-2" method="post">
                                <div class="form-group">
                                  <label for="branch_name" class="sr-only">Branch name</label>
                                  <input type="text" name="branch_name" id="branch_name" class="form-control" placeholder="Enter a name for the branch to create..." required>
                                </div>
                                <button class="btn btn-success btn-block">
                                  <i class="fas fa-code-branch mr-1"></i>
                                  Create a new branch
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="card">
                            <div class="card-header h6">
                              Discard your changes
                            </div>

                            <div class="card-body">
                              <a class="btn btn-block btn-danger" href="/git/stash">
                                <i class="far fa-trash-alt"></i>
                                Discard your changes
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                <% else %>

                  <div class="row">
                    <div class="col">
                      <h6 class="card-subtitle mb-2 text-muted">
                        <div>
                        Remote:
                        </div>
                          <%= @remotes.first %>
                      </h6>
                      <pre><%= @status %></pre>
                      <%# TODO why is this here? %>
                      <% if @current_branch != "master" %>
                        <form action="/git/push" method="post">
                          <button type="submit" class="btn btn-primary btn-block mb-4" data-html="true" data-toggle="tooltip" data-placement="top" title="<code>git push</code>">
                            <i class="fas fa-upload mr-1"></i>
                            Push to GitHub
                          </button>
                        </form>
                      <% else %>
                        <form action="/git/push" method="post">
                          <button type="submit" class="btn btn-primary btn-block mb-4" data-html="true" data-toggle="tooltip" data-placement="top" title="<code>git push -u origin <%= @current_branch %></code>">
                            <i class="fas fa-upload mr-1"></i>
                            Push to GitHub
                          </button>
                        </form>
                      <% end %>
                        <form action="/git/pull" method="post">
                          <button type="submit" class="btn btn-primary btn-block mb-4" data-html="true" data-toggle="tooltip" data-placement="top" title="<code>git pull</code>">
                            <i class="fas fa-download mr-1"></i>
                            Pull from GitHub
                          </button>
                        </form>
                      <p>
                        The last thing you did was:
                      </p>

                      <blockquote class="blockquote">
                        <%= @last_commit_message %>
                      </blockquote>
                      <a href="#latest_diff_html" class="btn btn-secondary btn-block mb-4" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="latest_diff_html">
                        <i class="far fa-eye mr-1"></i>
                        Show last commit
                      </a>

                      <div id="latest_diff_html" class="collapse">
                        <iframe srcdoc="<%= @last_diff_html %>" width="100%" height="400" class="mb-3">
                        </iframe>
                      </div>
                    </div>

                    <div class="col">
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-success">
                          New Branch
                        </li>

                        <li class="list-group-item">
                          <form action="/git/branch/checkout" method="post">
                            <div class="form-group">
                              <label for="branch_name">
                                Go ahead, experiment!
                              </label>
                              <input
                                id="branch_name" class="form-control" type="text"
                                name="branch_name" required
                                placeholder="Enter a name for the new branch..."
                              >
                            </div>
                            <button class="btn btn-success btn-block"
                              data-html="true" data-toggle="tooltip"
                              data-placement="top" title="<code>git checkout -b [BRANCH NAME]</code>"
                            >
                              <i class="fas fa-code-branch mr-1"></i>
                              Create branch
                            </button>
                          </form>
                        </li>
                        <li class="list-group-item list-group-item-info">
                          Existing branches
                        </li>
                        <% @branches.each do |branch| %>
                          <li class="list-group-item  justify-content-between">
                            <%= branch %>
                            <div class="btn-group">
                              <!-- TODO method post, pass branch name-->
                              <form action="/git/branch/checkout" method="post">
                                <button value="<%= branch %>" name="branch_name" type="submit" class="btn btn-primary btn-sm" data-html="true" data-toggle="tooltip" data-placement="top" title="<code>git checkout <%= branch %></code>">
                                  <i class="fas fa-exchange-alt"></i>
                                </button>
                              </form>
                              <form action="/git/branch/delete" method="post">
                                <button type="submit" value="<%= branch %>" name="branch_name" class="btn btn-warning btn-sm" data-html="true" data-toggle="tooltip" data-placement="top" title="<code>git branch -d <%= branch %></code>">
                                  <i class="far fa-trash-alt"></i>
                                </button>
                              </form>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="card">
              <h2 class="card-header">
                History
              </h2>

              <div class="card-body">
                <p class="lead">Do you want to jump back in time and go down a different path?</p>
                <form action="/git/branch/checkout/new" method="post">
                  <div class="form-group">
                    <label for="commit_hash">Branch off of</label>
                    <input type="text" class="form-control" name="commit_hash"
                      id="commit_hash" required
                      placeholder="Enter the sequence of digits preceding the commit (it's &quot;hash&quot;) that you want to branch off of...">
                  </div>

                  <div class="form-group">
                    <label for="branch_name">Branch name</label>
                    <input type="text" class="form-control" name="branch_name"
                      id="branch_name" placeholder="Enter a name for the new branch..."
                      required >
                  </div>

                  <% if @changed_files.count > 0 %>
                    <button disabled="disabled" class="btn btn-primary btn-block">
                      Can't go back in time while you have pending changes. Commit or discard them first.
                    </button>
                  <% else %>
                    <!-- TODO use JS to replace  -->
                    <button class="btn btn-success btn-block" data-toggle="tooltip" data-html="true" data-placement="top" title="<code>git checkout [OLD HASH]; git checkout -b [NEW BRANCH NAME]</code>">
                      Create a new branch off of previous commit
                    </button>
                  <% end%>
                </form>
              </div>
              <pre class="bg-dark text-white p-3"><%= @cli_graph_interactive %></pre>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="heroku" role="tabpanel" aria-labelledby="home-tab">
        <ul class="list-group">
          <li class="list-group-item heroku text-white d-flex justify-content-between">
            <% if @heroku_auth.empty? %>
              <span>Log in</span>
            <% else %>
              <span>Logged in as:</span>
              <span><%= @heroku_auth %></span>
            <% end %>
          </li>
          <% if @heroku_auth.empty? %>
            <div class="border border-heroku p-4">
              <form action="/git/heroku/login" method="post">
                <div class="form-group">
                  <label for="heroku_email">Email address</label>
                  <input type="email" class="form-control" name="heroku_email" id="heroku_email" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="heroku_password">Password</label>
                  <input type="password" class="form-control" name="heroku_password" id="heroku_password">
                </div>
                <button type="submit" data-html="true" data-toggle="tooltip"
                  data-placement="top" title="<code>heroku login -i</code>" class="btn btn-heroku btn-block">Log in</button>
              </form>
            </div>

          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <script>

    $(document).ready(function() {
        $(".sha").click(function() {
          var text = this.textContent
          $("#commit_hash").val(text);
        });
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
        $('.nav-tabs a').on('click', function (event) {
          event.preventDefault()
          $(this).tab('show')
        })
    });

  </script>
</body>
</html>
