<!DOCTYPE html>
<html>
<head>
  <title>GitClient</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'web_git/application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'web_git/application', 'data-turbolinks-track': 'reload' %>

  <!-- Connect to popper js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

  <!-- Connect to the beta of Bootstrap version 4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

  <!-- Connect to Font Awesome CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Connect to Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="container">
    <% if notice.present? %>
      <div class="row">
        <div class="col">
          <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= notice %>
          </div>
        </div>
      </div>
    <% end %>

    <% if alert.present? %>
    <div class="row">
      <div class="col">
        <div class="alert alert-dismissable alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= alert %>
        </div>
      </div>
    </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
