<!DOCTYPE html>
<html>
<head>
  <title>GitClient</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'web_git/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'web_git/application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <% if notice.present? %>
      <div class="row">
        <div class="col">
          <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= notice %>
          </div>
        </div>
      </div>
    <% end %>

    <% if alert.present? %>
    <div class="row">
      <div class="col">
        <div class="alert alert-dismissable alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= alert %>
        </div>
      </div>
    </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
